h1{
	font-family: 'Oswald', sans-serif;
	margin-top: 50px;
}

h5, p, .button{
	font-family: 'Open Sans Condensed', sans-serif;
}

.sub-head{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 28px;
}

.open-sans{
	font-family: 'Open Sans Condensed', sans-serif;
}

h4{
	font-family: 'Oswald', sans-serif;
	color: #263238;
}

nav{
	background-color: #f06292;
}

p{
	font-size: 20px;
}

.home-text{
	color: white;
}

.icon{
	margin-bottom: -10px;
}

.social{
	margin-right: 30px;
}

.page-footer{
	background-color: #f06292;
	margin-top: -40px;
}

#logo{
	margin-left: 30px;
}

body.landing{
    width: auto;
    height: auto;
    background: white url("../image/landing.png");
	margin: 0;
	padding: 0;
}

.text, .button{
	text-align: center;
	margin-top: 100px;
}

.page-footer{
   position:absolute;
   bottom:0;
   width:100%;
}

.content-text{
	color: #263238;
	margin-bottom: 15px;
	padding-bottom: 25px;
}

.profile{
	overflow: auto;
	float: right;
	height: 400px;
	width: auto;
	margin-left: 50px;
}

.divider{
	width: 100%;
}

.square-pic{
	height: 100px;
	width: auto;
}

.heart-brain{
	height: 300px;
	width: auto;	
}

.spacer{
	padding-bottom: 100px;
	margin: 140px 0px -50px 0px;
}

.etch{
	background-color:#f06292; 
	margin-top: -300px;
}

.footer{
	background-color: #f06292;
	padding: 20px 0px 20px 0px;
}

.gray-text{
	color: #cfd8dc;
}

.links{
	display: inline-block;
	margin-left: 200px;
}

.link{
	margin: 0px 15px;
}

.link:hover{
	color: #00bcd4;
}

.parallax-wrapper {
    position: relative;
}

@font-face {
    font-family: Oswald;
    src: url('..\fonts\Oswald-Regular.ttf');
}


.parallax-container {
    background-image: url('../image/white_texture.png');
    width: 100vw;
    margin-left: calc(-50vw + 50% - 8px);
    position: relative;
	padding-top: 100px;
	height: 680px;
	box-shadow: 
		inset 0px 11px 8px -10px #bdbdbd ,
        inset 0px -11px 8px -10px #bdbdbd;
}

.phone{
	margin-left: 34%;
}

.tab{
	margin-right: 25px;
}