nav{
	background-color: #f06292;
}

h1{
	font-family: 'Oswald', sans-serif;
	margin-top: 50px;
}

h5, p, .button{
	font-family: 'Open Sans Condensed', sans-serif;
}

p{
	font-size: 20px;
}

.home-text{
	color: white;
}

.icon{
	margin-top: 15px;
}

.social{
	margin-right: 30px;
}

.page-footer{
	background-color: #f06292;
	margin-top: -40px;
}

#logo{
	margin-left: 30px;
}

body.landing{
    width: auto;
    height: auto;
    background: white url("../image/landing.png");
	margin: 0;
	padding: 0;
}

.text, .button{
	text-align: center;
	margin-top: 100px;
}

.page-footer{
   position:absolute;
   bottom:0;
   width:100%;
}

.content-text{
	color: #263238;
	margin-bottom: 15px;
	padding-bottom: 25px;
}

.profile{
	overflow: auto;
	float: right;
	height: 400px;
	width: auto;
	margin-left: 50px;
}

.sub-head{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 28px;
}

.open-sans{
	font-family: 'Open Sans Condensed', sans-serif;
}

.divider{
	width: 100%;
}

.square-pic{
	height: 100px;
	width: auto;
}

h4{
	font-family: 'Oswald', sans-serif;
	color: #263238;
}

.heart-brain{
	height: 300px;
	width: auto;	
}

.txt-img-txt{
	padding: 100px 0px 100px 0px;
}
